<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pop-up Message</title>
</head>
<body>
    <a href="{{url_for('index')}}"><button>Back</button></a>
    <script>
        // Display a pop-up message when the page loads
        window.onload = function() {
            alert("This is a pop-up message!");
        }
    </script>
</body>
</html>